.c-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq() {
        margin-top: $space_m;
    }
    &__item.active{
        padding: $space_s;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sub-color1;
        margin: $space_s;
        font-size: $font-size_m;
    }
    &__item.active &__item--link {  
        color: $white;
    }
    &__item.disabled {
        color: $gray;
    }
    &__item {
        padding: $space_s;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $silver;
        color: $font-color_default;
        margin: $space_s;
        font-size: $font-size_m;
    }
}


