.p-ideaDetail {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    @include mq("xl") {
        flex-direction: column-reverse;
        align-items: center;
    }
    @include mq("lg") {
        flex-direction: column-reverse;
        align-items: center;
    }
    @include mq() {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
        margin-bottom: $space_m;
    }
    &__modal {
        display: none;
        width: 400px;
        height: 200px;
        background-color: $white;
        padding: $space_l;
        box-sizing: border-box;
        position: fixed;
        top: 20%;
        left: 5%;
        z-index: 1;
        border-radius: 10px;
        @include mq("lg") {
            left: 0%;
        }
        @include mq() {
            width: 90%;
            left: 0%;
        }
        @include mq("ss") {
            width: 90%;
        }
        &--cover {
            background-color: $shadow;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
    }
    &__Container {
        width: 100%;
        background-color: $white;
        padding: $space_xxl;
        box-sizing: border-box;
        border-radius: 10px;
        @include mq("ss") {
            width: 100%;
        }
        @include mq() {
            padding: 0;
        }
    }
    &__title {
        text-align: center;
        font-size: $font-size_xxl;
        color: $black;
        margin-bottom: $space_m;
        @include mq() {
            font-size: $font-size_xl;
            margin-top: $space_xl;
        }
        @include mq("sm") {
            font-size: $font-size_l;
        }
        @include mq("ss") {
            width: 200px;
        }
        &--review {
            font-size: $font-size_xxl;
            color: $black;
            margin-bottom: $space_m;
            text-align: center;
            padding: $space_xl;
            @include mq() {
                font-size: $font-size_xl;
            }
        }
    }
    &__sentence {
        border-top: 1px solid $accent-color;
        padding: $space_l;
        &--modal {
            margin-top: $space_xl;
        }
    }
    &__partContainer {
        @include mq() {
            flex-direction: column;
            align-items: center;
        }
    }
    &__content {
        width: 700px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: $space_xl;
        @include mq("xl") {
            width: 97%;
        }
        @include mq("lg") {
            width: 95%;
        }
        @include mq() {
            width: 90%;
            align-items: center;
        }
    }
    &__part {
        margin-top: $space_xxl;
        color: $black;
        padding: $space_l;
        box-sizing: border-box;
        border-radius: 5px;
        @include mq() {
            width: 95%;
        }
        @include mq("sm") {
            width: 90%;
        }
        @include mq("ss") {
            width: 95%;
        }
    }
    &__item {
        display: flex;
        margin-bottom: $space_l;
        flex-direction: column;
        align-items: flex-start;
        padding: $space_s;
        box-sizing: border-box;
        @include mq("xl") {
            flex-direction: column;
            align-items: flex-start;
        }
        @include mq("lg") {
            flex-direction: column;
            align-items: flex-start;
        }
        @include mq() {
            flex-direction: column;
            align-items: flex-start;
        }
        &--part {
            padding: $space_s;
            margin-left: 0;
        }
        &--link {
        }
    }
    &__label {
        color: $sub-color2;
        font-weight: bold;
        font-size: $font-size_l;
        padding: $space_s;
        box-sizing: border-box;
        display: flex;
    }
    &__postUserInfo {
        display: flex;
        align-items: center;
        padding: $space_s;
        &--name {
            font-size: $font-size_l;
        }
        &--review {
            display: flex;
            align-items: center;
            padding: $space_s;
            margin-bottom: $space_l;
        }
    }
    &__img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: $space_xl;
    }
    &__button {
        display: flex;
        align-items: center;
        @include mq() {
            margin-left: $space_m;
            margin-bottom: $space_xl;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &--share {
            width: 130px;
            padding: $space_s;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            background-color: $black;
            text-align: center;
            margin-right: $space_l;
            color: $white;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
        &--review {
            display: flex;
            justify-content: flex-end;
            margin-top: $space_xl;
        }
        &--disabled {
            display: flex;
            justify-content: center;
        }
        &--modal {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    &__heart {
        font-size: 20px;
        position: absolute;
        right: 10%;
        margin-top: 3px;
        color: $white;
        @include mq() {
            right: 15%;
            margin-top: 12px;
        }
    }
    &__likeContainer {
        display: flex;
        align-items: center;
        position: relative;
        @include mq() {
            margin-top: $space_l;
        }
    }
    &__btn {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sub-color2;
        border: 2px solid $sub-color2;
        padding: $space_s;
        box-sizing: border-box;
        border-radius: 30px;
        color: $white;
        &--like {
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray-sub;
            padding: $space_s;
            box-sizing: border-box;
            color: $white;
            @include mq() {
                margin-top: $space_m;
            }
        }
        &--unlike {
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray-sub;
            padding: $space_s;
            box-sizing: border-box;
            color: $white;
        }
        &--disabled {
            width: 400px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $shadow;
            padding: $space_s;
            margin-top: $space_m;
            box-sizing: border-box;
            border-radius: 30px;
            color: $black;
            font-weight: bold;
            font-size: $font-size_l;
            pointer-events: none;
            @include mq() {
                width: 300px;
                font-size: $font-size_m;
            }
            @include mq("sm") {
                width: 270px;
            }
            @include mq("ss") {
                width: 230px;
            }
        }
        &--review {
            background-color: $sub-color2;
            color: $white;
            float: right;
            opacity: 0.9;
            &:hover{
                opacity: 1;
            }
        }
        &:hover {
            background-color: $white;
            color: $sub-color2;
        }
        &--buy {
            background-color: $main-color;
            color: $white;
            width: 80px;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            opacity: 1;
        }
        &--cancel {
            background-color: $main-color;
            color: $white;
            width: 80px;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            opacity: 1;
        }
        &--link {
            display: block;
            width: 100px;
            background-color: $sub-color2;
            color: $white;
            border: 2px solid $sub-color2;
            padding: $space_s;
            box-sizing: border-box;
            font-size: $font-size_base;
            margin-right: $space_xl;
            &:hover {
                background-color: $white;
                color: $sub-color2;
            }
            @include mq("sm") {
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size_m;
            }
            @include mq("ss") {
                width: 120px;
                font-size: $font-size_s;
            }
        }
    }
    .likeheart {
        font-size: 20px;
        position: relative;
        right: 10%;
        color: $pink;
        @include mq() {
            right: 10%;
            margin-top: 11px;
        }
    }
    .likebtn {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent-color;
        color: $sub-color2;
        @include mq() {
            margin-top: $space_m;
        }
    }
    &__formContainer {
        margin-top: $space_xxl;
        display: flex;
        justify-content: center;
        background-color: $white;
        padding: $space_xxl;
        box-sizing: border-box;
        border-radius: 10px;
        @include mq() {
            width: 100%;
        }
        &--review {
            margin-top: $space_xxl;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $white;
            padding: $space_xxl;
            box-sizing: border-box;
            border-radius: 10px;
            @include mq() {
                width: 100%;
            }
        }
    }
    &__form {
        justify-content: center;
        &--review {
            display: flex;
            flex-direction: column;
            margin-top: $space_xxl;
        }
        &--modal {
            margin-top: $space_3l;
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
    }
    &__starContainer {
        display: flex;
        flex-direction: column;
        padding: $space_s;
        box-sizing: border-box;
        &--title {
            color: $sub-color2;
            font-weight: bold;
            font-size: $font-size_l;
            margin-bottom: $space_m;
        }
        &--part {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: $space_m;
            & label {
                position: relative;
                //left: 20px;
                color: $shadow;
                cursor: pointer;
                font-size: $font-size_l;
                &:hover {
                    color: $yellow;
                    cursor: pointer;
                    & ~ label {
                        color: $yellow;
                    }
                }
            }
            & input[type="radio"]:checked ~ label {
                color: $yellow;
            }
        }
    }
    &__radio {
        opacity: 0;
        z-index: 1;
        position: relative;
        right: 30px;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    &__reviewStar {
        color: $yellow;
        font-size: $font-size_xl;
    }

    &__countarea {
        text-align: right;
        margin-top: $space_m;
    }
    &__textarea {
        height: 200px;
    }
    &__review {
        width: 700px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 10px;
        margin-top: $space_xxl;
        @include mq("xl") {
            width: 100%;
        }
        @include mq() {
            width: 100%;
        }
    }
    &__reviewContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: $space_l;
        box-sizing: border-box;
        border-top: 1px solid $accent-color;
        &--user {
            display: flex;
            margin-bottom: $space_s;
            align-items: center;
        }
        &--part {
            padding: $space_s;
            margin-left: 0;
        }
        &--comment {
            display: flex;
            margin-bottom: $space_s;
            align-items: center;
        }
    }
    &__star {
        font-size: $font-size_xl;
    }
}
