.p-ideaDetail {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    @include mq("xl") {
        flex-direction: column-reverse;
        align-items: center;
    }
    @include mq("lg") {
        flex-direction: column-reverse;
        align-items: center;
    }
    @include mq() {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
        margin-bottom: $space_m;
    }
    &__Container {
        width: 100%;
        background-color: $white;
        padding: $space_xxl;
        box-sizing: border-box;
        border-radius: 10px;
        @include mq("ss") {
            width: 130%;
        }
    }
    &__title {
        text-align: center;
        font-size: $font-size_xxl;
        color: $black;
        margin-bottom: $space_m;
        @include mq() {
            font-size: $font-size_xl;
        }
        @include mq("sm") {
            font-size: $font-size_l;
        }
        @include mq("ss") {
            width: 200px;
        }
    }
    &__partContainer {
        @include mq() {
            flex-direction: column;
            align-items: center;
        }
    }
    &__content {
        width: 700px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: $space_xl;
        @include mq("xl") {
            width: 97%;
        }
        @include mq("lg") {
            width: 95%;
        }
        @include mq() {
            width: 90%;
            align-items: center;
        }

        &__pagination {
            display: flex;
            justify-content: center;
            margin-bottom: $space_xl;
        }
    }
    &__part {
        margin-top: $space_xxl;
        color: $black;
        padding: $space_l;
        box-sizing: border-box;
        border-radius: 5px;
        @include mq() {
            width: 95%;
        }
        @include mq("sm") {
            width: 90%;
        }
        @include mq("ss") {
            width: 95%;
        }
    }
    &__item {
        display: flex;
        margin-bottom: $space_l;
        flex-direction: column;
        align-items: flex-start;
        @include mq("xl") {
            flex-direction: column;
            align-items: flex-start;
        }
        @include mq("lg") {
            flex-direction: column;
            align-items: flex-start;
        }
        @include mq() {
            flex-direction: column;
            align-items: flex-start;
        }
        &--part {
            padding: $space_s;
            margin-left: 0;
        }
        &--link {
            display: flex;
        }
    }
    &__label {
        color: $sub-color2;
        font-weight: bold;
        font-size: $font-size_l;
        padding: $space_s;
        box-sizing: border-box;
        display: flex;
    }
    &__postUser {
        border: 2px solid $sub-color2;
        border-radius: 10px;
        width: 100%;
        padding: $space_m;
        box-sizing: border-box;
        margin-bottom: $space_l;
        display: flex;
        flex-direction: column;
    }
    &__postUserInfo {
        display: flex;
        align-items: center;
        &--name {
            font-size: $font-size_l;
        }
    }
    &__img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-right: $space_xl;
    }
    &__button {
        display: flex;
        align-items: center;
        &--share {
            width: 130px;
            padding: $space_s;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-radius: 5px;
            background-color: $blue;
            text-align: center;
            margin-right: $space_l;
            color: $white;
        }
    }
    &__heart {
        font-size: 20px;
        margin-left: $space_l;
        position: relative;
        color: $white;
        right: 7%;
    }
    &__btn {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sub-color2;
        border: 2px solid $sub-color2;
        padding: $space_s;
        box-sizing: border-box;
        border-radius: 30px;
        color: $white;
        &--like {
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray-sub;
            padding: $space_s;
            box-sizing: border-box;
            color: $white;
        }
        &--unlike {
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $accent-color;
            padding: $space_s;
            box-sizing: border-box;
            color: $white;
        }
        &--disabled {
            width: 400px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $shadow;
            padding: $space_s;
            box-sizing: border-box;
            border-radius: 30px;
            color: $black;
            font-weight: bold;
            font-size: $font-size_l;
            pointer-events: none;
        }
        &:hover {
            background-color: $white;
            color: $sub-color2;
        }
    }
    .likeheart {
        font-size: 20px;
        margin-left: $space_l;
        color: $pink;
    }
    .likebtn {
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent-color;
        color: $sub-color2;
    }
    &__formContainer {
        margin-top: $space_xxl;
        display: flex;
        justify-content: center;
        background-color: $white;
        padding: $space_xxl;
        box-sizing: border-box;
        border-radius: 10px;
        &--review {
            margin-top: $space_xxl;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $white;
            padding: $space_xxl;
            box-sizing: border-box;
            border-radius: 10px;
        }
    }
    &__form {
        justify-content: center;
        &--review{
            display: flex;
            flex-direction: column;
            margin-top: $space_xxl;
        }
    }
    &__starContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: $space_xl;
        &--title{
            color: $sub-color2;
            font-weight: bold;
            font-size: $font-size_l;
            margin-bottom: $space_m;
        }
        &--part{
            display: flex;
            margin-bottom: $space_m;
        }
    }
    &__star{
        color: $yellow;
        margin-left: $space_s;
        font-size: $font-size_l;
    }
    &__countarea{
        text-align: right;
        margin-top: $space_m;
    }
}
