.p-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    &__content {
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mq() {
            width: 360px;
            padding: 0 10px;
            box-sizing: border-box;
        }
        @include mq("sm") {
            width: 320px;
        }
        @include mq("ss") {
            width: 280px;
        }
    }
    &__form {
        margin-top: $space_xxl;
        width: 100%;
    }
    &__title {
        text-align: center;
        font-size: $font-size_xxl;
        color: $font-color_title;
        margin-bottom: $space_3l;
        @include mq() {
            margin-top: 80px;
        }
    }
    &__part {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $space_xl;
        @include mq("ss") {
            width: 100%;
        }
    }
    &__label {
        width: 200px;
        display: flex;
        align-items: center;
        @include mq("sm") {
            font-size: $font-size_m;
        }
        @include mq("ss") {
            font-size: $font-size_s;
        }
    }
    &__require {
        width: 60px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: $space_m;
        padding: 3px;
        background-color: $alart-color;
        color: $white;
    }
    &__errMsg {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: $space_s;
    }
    &__input {
        width: 100%;
        height: 30px;
        @include mq("sm") {
            height: 20px;
        }
        @include mq("ss") {
            height: 20px;
        }
    }
    &__button {
        float: right;
    }
    &__btn {
        background-color: $main-color;
        color: $white;
    }
    &__btn:hover {
        cursor: pointer;
    }
    &__link {
        display: flex;
        justify-content: flex-end;
        margin-top: $space_l;
        text-decoration: underline;
        @include mq("sm") {
            font-size: $font-size_m;
        }
        @include mq("ss") {
            font-size: $font-size_s;
        }
    }
    &__link:hover {
        color: $main-color;
    }
}
