.p-login {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $white;
        border-radius: 10px;
        padding: $space_3l;
        box-sizing: border-box;
        @include mq("xxl") {
            width: 60%;
            padding: $space_xxl;
        }
        @include mq("xl") {
            width: 90%;
            padding: $space_xxl;
        }
        @include mq("lg") {
            width: 90%;
            padding: $space_xxl;
        }
        @include mq() {
            width: 90%;
            height: 70%;
            padding: $space_xxl;
        }
        @include mq("sm") {
            width: 90%;
            padding: $space_xxl;
        }
        @include mq("ss") {
            width: 90%;
            padding: $space_xxl;
        }
    }
    &__form {
        margin-top: $space_xxl;
        width: 100%;
    }
    &__title {
        text-align: center;
        font-size: $font-size_xxl;
        font-weight: bold;
        color: $black;
        margin-bottom: $space_3l;
    }
    &__part {
        display: flex;
        flex-direction: column;
        margin-bottom: $space_3l;
        @include mq("ss") {
            width: 100%;
        }
    }
    &__label {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: $space_m;
        color: $black;
        @include mq("sm") {
            font-size: $font-size_m;
        }
        @include mq("ss") {
            font-size: $font-size_s;
        }
    }
    &__errMsg {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: $space_s;
        @include mq() {
            font-size: $font-size_s;
        }
        @include mq("sm") {
            font-size: 10px;
        }
        @include mq("ss") {
            font-size: 10px;
        }
    }
    &__input {
        width: 100%;
        height: 30px;
        @include mq("sm") {
            height: 20px;
        }
        @include mq("ss") {
            height: 20px;
        }
    }
    &__button {
        float: right;
    }
    &__btn {
        background-color: $main-color;
        color: $white;
    }
    &__btn:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    &__link {
        display: flex;
        justify-content: flex-end;
        margin-top: $space_l;
        color: $main-color;
        @include mq("sm") {
            font-size: $font-size_m;
        }
        @include mq("ss") {
            font-size: $font-size_s;
        }
    }
    &__link:hover {
        text-decoration: underline;
    }
}
