.p-mypage {
    &__btn {
        background-color: $sub-color2;
        color: $white;
        display: block;
        color: $white;
        width: 220px;
        margin-left: $space_m;
        border-radius: 30px;
        padding: $space_s;
        box-sizing: border-box;
        font-size: $font-size_base;
        &:hover {
            background-color: $white;
            color: $sub-color2;
            border: 2px solid $sub-color2;
        }
    }
}
