.p-mypage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    @include mq("xl"){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    @include mq("lg"){
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    @include mq() {
        display: flex;
        flex-direction: column-reverse;
    }
    &__Container {
        width: 100%;
        @include mq() {
            width: 90%;
        }
    }
    &__title {
        font-size: $font-size_xl;
        font-weight: bold;
        color: $black;
        padding: $space_xl;
        @include mq() {
            font-size: $font-size_base;
        }
        @include mq("sm") {
            font-size: $font-size_m;
            padding: $space_m;
        }
        @include mq("ss") {
            width: 200px;
            font-size: $font-size_m;
            padding: $space_s;
        }
    }
    &__sidebarContainer{
        @include mq("xl"){
            width: 100%;
        }
        @include mq("lg"){
            width: 100%;
        }
    }
    &__sentence {
        border-top: 1px solid $accent-color;
        padding: $space_l;
    }
    &__content {
        width: 700px;
        display: flex;
        flex-direction: column;

        @include mq("xl") {
            width: 97%;
        }
        @include mq("lg") {
            width: 95%;
        }
        @include mq() {
            width: 100%;
            align-items: center;
        }
    }
    &__itemContainer {
        background-color: $white;
        margin-top: $space_xxl;
        border-radius: 10px;
        @include mq() {
            margin-bottom: $space_xxl;
            margin-top: 0px;
        }
        &--head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__link {
        padding: $space_xl;
        color: $sub-color2;
        @include mq("sm") {
            font-size: $font-size_m;
        }
        @include mq("ss") {
            font-size: $font-size_m;
            padding: $space_m;
            width: 70px;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &__item {
        display: flex;
        margin-bottom: $space_l;
        align-items: center;
        padding: $space_s;
        box-sizing: border-box;
        border-top: 1px solid $accent-color;
        @include mq("xl") {
            flex-direction: column;
            align-items: flex-start;
        }
        @include mq("lg") {
            flex-direction: column;
            align-items: flex-start;
        }
        @include mq() {
            flex-direction: column;
            align-items: flex-start;
        }
        &--review {
            display: flex;
            margin-bottom: $space_l;
            flex-direction: column;
            align-items: flex-start;
            padding: $space_l;
            box-sizing: border-box;
            border-top: 1px solid $accent-color;
        }
        &--part {
            padding: $space_s;
        }
        &--link {
            display: block;
            margin-left: $space_3l;
            background-color: $sub-color2;
            color: $white;
            line-height: 40px;
            &:hover {
                background-color: $white;
                color: $sub-color2;
                border: 2px solid $sub-color2;
            }
            @include mq("xl"){
                margin-left: 0px;
            }
            @include mq("lg"){
                margin-left: 0px;
            }
            @include mq() {
                margin-left: 0px;
            }
            @include mq("sm") {
                width: 100px;
            }
        }
    }
    &__label {
        color: $sub-color2;
        font-weight: bold;
        font-size: $font-size_l;
        padding: $space_s;
        box-sizing: border-box;
        display: flex;
    }
    &__postUserInfo {
        display: flex;
        align-items: center;
    }
    &__img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: $space_xl;
    }
    &__star {
        color: $yellow;
        font-size: $font-size_xl;
        padding: $space_s;
        box-sizing: border-box;
    }
    &__btn {
        background-color: $sub-color2;
        color: $white;
        display: block;
        color: $white;
        width: 220px;
        margin-left: $space_xl;
        border-radius: 30px;
        padding: $space_s;
        box-sizing: border-box;
        font-size: $font-size_base;
        &:hover {
            background-color: $white;
            color: $sub-color2;
            border: 2px solid $sub-color2;
        }
        &--prof {
            background-color: $sub-color2;
            color: $white;
            display: block;
            color: $white;
            width: 220px;
            margin-left: $space_xl;
            border-radius: 30px;
            padding: $space_s;
            box-sizing: border-box;
            font-size: $font-size_base;
            
            @include mq("sm"){
                height: 40px;
            }
            &:hover {
                background-color: $white;
                color: $sub-color2;
                border: 2px solid $sub-color2;
            }
        }
    }
}
