.p-mypage{
    &__btn{
        background-color: $sub-color2;
        width: 200px;
        margin-left: $space_xxl;
        border-radius: 20px;
        &:hover{
            background-color: $white;
            border: 2px solid $sub-color2;
        }
        &--link{
            color: $white;
            &:hover{
                color: $sub-color2;
            }
        }
    }
}