.p-top {
    background-color: $white;
    
    &__sentence {
        width: 50%;
        text-align: left;
        font-size: $font-size_xxl;
        color: $sub-color;
        line-height: 2;
        font-weight: bold;

    }
    &__imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $space_3l;
        padding: $space_3l;
        &--img {
            width: 50%;
        }
    }
    &__content{
        width: 100%;
        background-color: $accent-color;
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: $font-size_xxl;
        color: $black;
        text-align: center;
        margin-top: $space_l;
    }
    &__panelContent{
        display: flex;
        justify-content: space-around;
        margin-top: $space_xxl;
        
    }
    &__panel{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        background-color: $white;
        width: 300px;
        height: 300px;
        padding: $space_l;
        &--title{
            text-align: center;
            font-size: $font-size_l;
            color: $black;
        }
        &--img{
            width: 150px;
            height: 100px;
        }
        
        
    }
}
