/* variables */

/**
* foundation
* ================================= */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  color: #444;
  background-color: #f6f5f5;
  line-height: 150%;
}

p,
a {
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 150%;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
}

img {
  width: 100%;
  height: auto;
}

/**
* layout
* ================================= */

.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5654a2;
  color: #fff;
  position: fixed;
  z-index: 2;
}

@media screen and (max-width: 599px) {
  .l-header {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.l-header__logo {
  height: 100%;
  width: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 64px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 599px) {
  .l-header__logo {
    font-size: 24px;
  }
}

.l-header__logo--link {
  color: #fff;
}

.l-header__nav {
  height: 100%;
  width: 300px;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .l-header__nav {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    transition: 0.5s;
  }

  .l-header__nav.active {
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 2;
    opacity: 0.9;
    background-color: #4052A2;
  }
}

.l-header__nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 599px) {
  .l-header__nav ul {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.l-header__menu {
  margin-right: 10px;
}

@media screen and (max-width: 599px) {
  .l-header__menu {
    margin-right: initial;
  }
}

.l-header__menu--link {
  display: block;
  color: #f6f5f5;
}

@media screen and (max-width: 599px) {
  .l-header__menu--link {
    color: #fff;
    font-size: 24px;
    margin-top: 30px;
  }
}

.l-header__menuTrigger {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 599px) {
  .l-header__menuTrigger {
    display: inline-block;
  }
}

.l-header__menuTrigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.l-header__menuTrigger span:nth-of-type(1) {
  top: 0;
}

.l-header__menuTrigger span:nth-of-type(2) {
  top: 14px;
}

.l-header__menuTrigger span:nth-of-type(3) {
  bottom: 0;
}

.l-header__menuTrigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.l-header__menuTrigger.active span:nth-of-type(2) {
  opacity: 0;
}

.l-header__menuTrigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.l-main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.l-footer {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #5654a2;
  color: #fff;
}

@media screen and (max-width: 599px) {
  .l-footer {
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .l-footer {
    font-size: 12px;
  }
}

.l-sidebar {
  width: 300px;
  height: 75%;
  margin-right: 40px;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .l-sidebar {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 599px) {
  .l-sidebar {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-right: 0;
  }
}

@media screen and (max-width: 599px) {
  .l-sidebar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* object
 * ================================= */

/* component ---------- */

.c-btn {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px 3px #b8b8b8;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .c-btn {
    width: 70px;
    height: 30px;
  }
}

.c-errMsg {
  color: #d7003a;
}

@media screen and (max-width: 599px) {
  .c-errMsg {
    font-size: 14px;
  }
}

.c-sidebar__menublock {
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (max-width: 280px) {
  .c-sidebar__menublock {
    font-size: 14px;
  }
}

.c-sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: solid 1px #f6f5f5;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  background-color: #5654a2;
}

@media screen and (max-width: 599px) {
  .c-sidebar__menu {
    width: 100%;
  }
}

.c-sidebar__menu--short {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: solid 1px #fff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  background-color: #5654a2;
}

@media screen and (max-width: 599px) {
  .c-sidebar__menu--short {
    width: 100%;
  }
}

.c-sidebar__menu--mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 1px #fff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  background-color: #5654a2;
}

@media screen and (max-width: 599px) {
  .c-sidebar__menu--mid {
    width: 100%;
  }
}

.c-sidebar__menu--title {
  font-size: 18px;
  color: #2F2725;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media screen and (max-width: 280px) {
  .c-sidebar__menu--title {
    font-size: 14px;
  }
}

.c-sidebar__menu--link {
  color: #f6f5f5;
}

.c-sidebar__menu--link:hover {
  text-decoration: underline;
}

.c-flashMsgContainer {
  width: 100%;
  height: 64px;
  background-color: #f6f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 3;
}

.pagination {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 599px) {
  .pagination {
    margin-top: 10px;
  }
}

.page-item.active {
  background-color: #f6f5f5;
  color: #fff;
}

.page-item.disabled {
  color: #333;
}

.page-item {
  margin-left: 3px;
  margin-right: 3px;
}

.page-link {
  padding: 3px;
}

.c-img {
  width: 200px;
  height: 150px;
}

.c-countarea--changecolor {
  color: #d7003a;
}

/* project ---------- */

.p-top {
  background-color: #fff;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .p-top {
    display: flex;
    flex-direction: column;
  }
}

.p-top__sentence {
  width: 100%;
  text-align: left;
  font-size: 30px;
  color: #4052A2;
  line-height: 2;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .p-top__sentence {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .p-top__sentence {
    font-size: 24px;
  }
}

@media screen and (max-width: 599px) {
  .p-top__sentence {
    width: 105%;
    font-size: 18px;
  }
}

@media screen and (max-width: 280px) {
  .p-top__sentence {
    font-size: 12px;
  }
}

.p-top__imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 40px;
  box-sizing: border-box;
}

.p-top__imgContainer--img {
  width: 45%;
}

@media screen and (max-width: 599px) {
  .p-top__imgContainer--img {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .p-top__imgContainer {
    width: 100%;
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .p-top__imgContainer {
    width: 100%;
    height: 650px;
  }
}

@media screen and (max-width: 768px) {
  .p-top__imgContainer {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 599px) {
  .p-top__imgContainer {
    width: 100%;
    height: 30%;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .p-top__imgContainer {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 280px) {
  .p-top__imgContainer {
    width: 90%;
    padding: 30px;
  }
}

.p-top__content {
  background-color: #BBBCDE;
  display: flex;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  .p-top__content {
    height: 40%;
    padding: 30px;
  }
}

.p-top__title {
  font-size: 30px;
  color: #51318F;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .p-top__title {
    font-size: 24px;
  }
}

.p-top__panelContent {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .p-top__panelContent {
    flex-direction: column;
  }
}

@media screen and (max-width: 599px) {
  .p-top__panelContent {
    flex-direction: column;
  }
}

.p-top__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 370px;
  height: 350px;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .p-top__panel {
    width: 32%;
    height: 410px;
  }
}

@media screen and (max-width: 768px) {
  .p-top__panel {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 599px) {
  .p-top__panel {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
}

.p-top__panel--title {
  text-align: center;
  font-size: 24px;
  color: #2F2725;
}

@media screen and (max-width: 1024px) {
  .p-top__panel--title {
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width: 280px) {
  .p-top__panel--title {
    font-size: 12px;
    font-weight: bold;
  }
}

.p-top__panel--img {
  width: 40%;
  height: 35%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .p-top__panel--img {
    width: 85%;
  }
}

@media screen and (max-width: 280px) {
  .p-top__panel--sentence {
    font-size: 12px;
  }
}

.p-register {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-register__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  margin-top: 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .p-register__content {
    width: 60%;
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .p-register__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .p-register__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 599px) {
  .p-register__content {
    width: 90%;
    height: 80%;
    padding: 30px;
  }
}

@media screen and (max-width: 320px) {
  .p-register__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 280px) {
  .p-register__content {
    width: 90%;
    padding: 30px;
  }
}

.p-register__form {
  width: 100%;
}

.p-register__title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2F2725;
  margin-bottom: 40px;
}

.p-register__part {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.p-register__part--name {
  display: none;
}

.p-register__label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #2F2725;
}

@media screen and (max-width: 320px) {
  .p-register__label {
    width: 170px;
    font-size: 12px;
  }
}

.p-register__require {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  background-color: #d7003a;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 320px) {
  .p-register__require {
    width: 30px;
    height: 15px;
    font-size: 12px;
  }
}

.p-register__errMsg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .p-register__errMsg {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .p-register__errMsg {
    font-size: 10px;
  }
}

@media screen and (max-width: 280px) {
  .p-register__errMsg {
    font-size: 10px;
  }
}

.p-register__input {
  width: 100%;
  height: 30px;
}

.p-register__button {
  float: right;
}

.p-register__btn {
  background-color: #5654a2;
  color: #f6f5f5;
}

.p-register__btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.p-login {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-login__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .p-login__content {
    width: 60%;
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .p-login__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .p-login__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 599px) {
  .p-login__content {
    width: 90%;
    height: 70%;
    padding: 30px;
  }
}

@media screen and (max-width: 320px) {
  .p-login__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 280px) {
  .p-login__content {
    width: 90%;
    padding: 30px;
  }
}

.p-login__form {
  margin-top: 30px;
  width: 100%;
}

.p-login__title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2F2725;
  margin-bottom: 40px;
}

.p-login__part {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (max-width: 280px) {
  .p-login__part {
    width: 100%;
  }
}

.p-login__label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #2F2725;
}

@media screen and (max-width: 320px) {
  .p-login__label {
    font-size: 14px;
  }
}

@media screen and (max-width: 280px) {
  .p-login__label {
    font-size: 12px;
  }
}

.p-login__errMsg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .p-login__errMsg {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .p-login__errMsg {
    font-size: 10px;
  }
}

@media screen and (max-width: 280px) {
  .p-login__errMsg {
    font-size: 10px;
  }
}

.p-login__input {
  width: 100%;
  height: 30px;
}

@media screen and (max-width: 320px) {
  .p-login__input {
    height: 20px;
  }
}

@media screen and (max-width: 280px) {
  .p-login__input {
    height: 20px;
  }
}

.p-login__button {
  float: right;
}

.p-login__btn {
  background-color: #5654a2;
  color: #fff;
}

.p-login__btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.p-login__link {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  color: #5654a2;
}

@media screen and (max-width: 320px) {
  .p-login__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 280px) {
  .p-login__link {
    font-size: 12px;
  }
}

.p-login__link:hover {
  text-decoration: underline;
}

.p-passReset {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-passReset__content {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 1280px) {
  .p-passReset__content {
    width: 60%;
    height: 60%;
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .p-passReset__content {
    width: 80%;
    height: 70%;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .p-passReset__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 599px) {
  .p-passReset__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 320px) {
  .p-passReset__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 280px) {
  .p-passReset__content {
    width: 90%;
    padding: 30px;
  }
}

.p-passReset__title {
  font-size: 30px;
  text-align: center;
  color: #2F2725;
}

@media screen and (max-width: 599px) {
  .p-passReset__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .p-passReset__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 280px) {
  .p-passReset__title {
    font-size: 14px;
  }
}

.p-passReset__sentence {
  margin-top: 40px;
}

@media screen and (max-width: 599px) {
  .p-passReset__sentence {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .p-passReset__sentence {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  .p-passReset__sentence {
    font-size: 12px;
  }
}

.p-passReset__button {
  text-align: right;
}

.p-passReset__btn {
  margin-top: 20px;
  color: #fff;
  background-color: #5654a2;
}

@media screen and (max-width: 599px) {
  .p-passReset__btn {
    width: 80px;
    height: 30px;
  }
}

.p-passReset__btn:hover {
  opacity: 0.8;
}

.p-postIdea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .p-postIdea {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdea {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.p-postIdea__title {
  text-align: center;
  font-size: 30px;
  color: #2F2725;
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .p-postIdea__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdea__title {
    font-size: 24px;
  }
}

.p-postIdea__content {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .p-postIdea__content {
    width: 95%;
    margin-top: 120px;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdea__content {
    width: 95%;
    margin-top: 120px;
  }
}

.p-postIdea__form {
  margin-top: 30px;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .p-postIdea__form {
    display: flex;
    flex-direction: column;
  }
}

.p-postIdea__part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (max-width: 599px) {
  .p-postIdea__part {
    font-size: 12px;
  }
}

.p-postIdea__label {
  width: 240px;
  margin-bottom: 10px;
  display: flex;
  color: #2F2725;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .p-postIdea__label {
    font-size: 16px;
  }
}

.p-postIdea__require {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  background-color: #d7003a;
  color: #fff;
  font-size: 14px;
}

.p-postIdea__errMsg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .p-postIdea__errMsg {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .p-postIdea__errMsg {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdea__errMsg {
    font-size: 10px;
  }
}

.p-postIdea__select {
  width: 100%;
  height: 36px;
}

.p-postIdea__input {
  width: 100%;
  height: 30px;
}

.p-postIdea__pricecontainer {
  display: flex;
  align-items: flex-end;
}

.p-postIdea__pricetag {
  margin-left: 10px;
}

.p-postIdea__countarea {
  text-align: right;
  margin-top: 10px;
}

@media screen and (max-width: 599px) {
  .p-postIdea__countarea {
    font-size: 12px;
    margin-top: 5px;
  }
}

.p-postIdea__countarea--comment {
  text-align: right;
  margin-top: 10px;
}

.p-postIdea__countarea--content {
  text-align: right;
  margin-top: 10px;
}

.p-postIdea__textarea {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 599px) {
  .p-postIdea__textarea {
    height: 330px;
  }
}

.p-postIdea__button {
  float: right;
}

@media screen and (max-width: 599px) {
  .p-postIdea__button {
    margin-bottom: 20px;
    text-align: right;
  }
}

.p-postIdea__btn {
  background-color: #5654a2;
  color: #fff;
}

.p-postIdea__btn:hover {
  opacity: 0.9;
}

.p-postIdeaEdit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .p-postIdeaEdit {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.p-postIdeaEdit__modal {
  display: none;
  width: 400px;
  height: 200px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 20%;
  z-index: 1;
  border-radius: 10px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__modal {
    width: 90%;
  }
}

.p-postIdeaEdit__modal--cover {
  background-color: #b8b8b8;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.p-postIdeaEdit__sentence {
  margin-top: 20px;
}

.p-postIdeaEdit__title {
  text-align: center;
  font-size: 30px;
  color: #2F2725;
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .p-postIdeaEdit__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdeaEdit__title {
    font-size: 24px;
  }
}

.p-postIdeaEdit__content {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .p-postIdeaEdit__content {
    width: 95%;
    margin-top: 120px;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__content {
    width: 95%;
    margin-top: 120px;
  }
}

.p-postIdeaEdit__form {
  margin-top: 30px;
  width: 100%;
}

.p-postIdeaEdit__form--modal {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__form {
    display: flex;
    flex-direction: column;
  }
}

.p-postIdeaEdit__part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__part {
    font-size: 12px;
  }
}

.p-postIdeaEdit__label {
  width: 240px;
  margin-bottom: 10px;
  display: flex;
  color: #2F2725;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__label {
    font-size: 16px;
  }
}

.p-postIdeaEdit__require {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  background-color: #d7003a;
  color: #fff;
  font-size: 14px;
}

.p-postIdeaEdit__errMsg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__errMsg {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .p-postIdeaEdit__errMsg {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdeaEdit__errMsg {
    font-size: 10px;
  }
}

.p-postIdeaEdit__select {
  width: 100%;
  height: 36px;
}

.p-postIdeaEdit__input {
  width: 100%;
  height: 30px;
}

.p-postIdeaEdit__pricecontainer {
  display: flex;
  align-items: flex-end;
}

.p-postIdeaEdit__pricetag {
  margin-left: 10px;
}

.p-postIdeaEdit__countarea {
  text-align: right;
  margin-top: 10px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__countarea {
    font-size: 12px;
    margin-top: 5px;
  }
}

.p-postIdeaEdit__countarea--comment {
  text-align: right;
  margin-top: 10px;
}

.p-postIdeaEdit__countarea--content {
  text-align: right;
  margin-top: 10px;
}

.p-postIdeaEdit__countarea--changecolor {
  color: #d7003a;
}

.p-postIdeaEdit__textarea {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__textarea {
    height: 330px;
  }
}

.p-postIdeaEdit__button {
  float: right;
  display: flex;
}

@media screen and (max-width: 599px) {
  .p-postIdeaEdit__button {
    margin-bottom: 20px;
    text-align: right;
  }
}

.p-postIdeaEdit__button--modal {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.p-postIdeaEdit__btn {
  background-color: #5654a2;
  color: #fff;
  margin-right: 15px;
  width: 80px;
}

.p-postIdeaEdit__btn--delete {
  background-color: #d7003a;
  color: #fff;
  width: 80px;
}

.p-postIdeaEdit__btn--delete:hover {
  opacity: 0.9;
}

.p-postIdeaEdit__btn:hover {
  opacity: 0.9;
}

.p-postIdeaEdit__link {
  color: #fff;
}

.p-postIdeaList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .p-postIdeaList {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .p-postIdeaList {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdeaList {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
  }
}

.p-postIdeaList__Container {
  width: 100%;
}

@media screen and (max-width: 280px) {
  .p-postIdeaList__Container {
    width: 130%;
  }
}

.p-postIdeaList__title {
  text-align: center;
  font-size: 30px;
  color: #2F2725;
  margin-bottom: 10px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaList__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .p-postIdeaList__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdeaList__title {
    width: 200px;
  }
}

.p-postIdeaList__sentence {
  text-align: center;
  margin-top: 15px;
}

.p-postIdeaList__partContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-postIdeaList__partContainer:after {
  content: "";
  display: block;
  width: 300px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaList__partContainer:after {
    content: none;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdeaList__partContainer {
    flex-direction: column;
    align-items: center;
  }
}

.p-postIdeaList__content {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .p-postIdeaList__content {
    width: 97%;
  }
}

@media screen and (max-width: 768px) {
  .p-postIdeaList__content {
    width: 95%;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdeaList__content {
    width: 90%;
    align-items: center;
  }
}

.p-postIdeaList__content__pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.p-postIdeaList__part {
  margin-top: 40px;
  width: 300px;
  border: 2px solid #51318F;
  color: #2F2725;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (max-width: 599px) {
  .p-postIdeaList__part {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .p-postIdeaList__part {
    width: 90%;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdeaList__part {
    width: 95%;
  }
}

.p-postIdeaList__item {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .p-postIdeaList__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .p-postIdeaList__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 599px) {
  .p-postIdeaList__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.p-postIdeaList__item--part {
  padding: 5px;
  margin-left: 0;
}

.p-postIdeaList__item--link {
  display: flex;
}

.p-postIdeaList__label {
  color: #51318F;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}

.p-postIdeaList__btn {
  display: block;
  background-color: #51318F;
  color: #fff;
  border: 2px solid #51318F;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 30px;
  margin-right: 20px;
}

.p-postIdeaList__btn:hover {
  background-color: #fff;
  color: #51318F;
}

@media screen and (max-width: 320px) {
  .p-postIdeaList__btn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 280px) {
  .p-postIdeaList__btn {
    width: 120px;
    font-size: 12px;
  }
}

.p-mypage__btn {
  background-color: #51318F;
  color: #fff;
  display: block;
  color: #fff;
  width: 220px;
  margin-left: 10px;
  border-radius: 30px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.p-mypage__btn:hover {
  background-color: #fff;
  color: #51318F;
  border: 2px solid #51318F;
}

.p-profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .p-profile {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .p-profile {
    flex-direction: column-reverse;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.p-profile__title {
  text-align: center;
  font-size: 30px;
  color: #2F2725;
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .p-profile__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 280px) {
  .p-profile__title {
    font-size: 18px;
  }
}

.p-profile__content {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .p-profile__content {
    width: 95%;
    margin-top: 120px;
  }
}

@media screen and (max-width: 599px) {
  .p-profile__content {
    width: 100%;
    margin-top: 120px;
  }
}

.p-profile__form {
  margin-top: 30px;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .p-profile__form {
    display: flex;
    flex-direction: column;
  }
}

.p-profile__part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (max-width: 599px) {
  .p-profile__part {
    font-size: 12px;
  }
}

.p-profile__part--pass {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
}

.p-profile__part--name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.p-profile__label {
  width: 240px;
  margin-bottom: 10px;
  color: #2F2725;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .p-profile__label {
    font-size: 16px;
  }
}

.p-profile__img {
  margin-right: 20px;
  height: 200px;
}

@media screen and (max-width: 599px) {
  .p-profile__img {
    margin-right: 0;
  }
}

.p-profile__imgContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .p-profile__imgContainer {
    flex-direction: column;
  }
}

.p-profile__errMsg {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 5px;
}

.p-profile__input {
  width: 100%;
  height: 30px;
}

.p-profile__input--img {
  display: none;
}

@media screen and (max-width: 599px) {
  .p-profile__input--img {
    font-size: 12px;
    margin-top: 15px;
  }
}

.p-profile__link {
  display: block;
  color: #51318F;
  margin-top: 10px;
}

.p-profile__link:hover {
  text-decoration: underline;
}

.p-profile__inputarea {
  background-color: #5654a2;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 599px) {
  .p-profile__inputarea {
    margin-top: 15px;
  }
}

.p-profile__inputarea:hover {
  cursor: pointer;
  opacity: 0.9;
}

.p-profile__countarea {
  text-align: right;
  margin-top: 10px;
}

@media screen and (max-width: 599px) {
  .p-profile__countarea {
    font-size: 12px;
    margin-top: 5px;
  }
}

.p-profile__textarea {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 599px) {
  .p-profile__textarea {
    height: 330px;
  }
}

.p-profile__button {
  float: right;
}

@media screen and (max-width: 599px) {
  .p-profile__button {
    margin-bottom: 20px;
    text-align: right;
  }
}

.p-profile__btn {
  background-color: #5654a2;
  color: #fff;
}

.p-profile__btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.p-deleteconfirm {
  width: 600px;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  .p-deleteconfirm {
    width: 90%;
  }
}

.p-deleteconfirm__modal {
  display: none;
  width: 400px;
  height: 200px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 20%;
  z-index: 1;
  border-radius: 10px;
}

@media screen and (max-width: 599px) {
  .p-deleteconfirm__modal {
    width: 90%;
  }
}

.p-deleteconfirm__modal--cover {
  background-color: #b8b8b8;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.p-deleteconfirm__sentence {
  margin-top: 20px;
}

.p-deleteconfirm__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-deleteconfirm__content--sentence {
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .p-deleteconfirm__content--sentence {
    text-align: left;
  }
}

.p-deleteconfirm__form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.p-deleteconfirm__title {
  text-align: center;
  font-size: 30px;
  color: #4e4449;
  margin-bottom: 40px;
  color: #2F2725;
}

.p-deleteconfirm__button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.p-deleteconfirm__button--modal {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.p-deleteconfirm__btn {
  background-color: #d7003a;
  color: #fff;
  width: 300px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
}

.p-deleteconfirm__btn:hover {
  background-color: #fff;
  color: #d7003a;
  border: 2px solid #d7003a;
}

.p-deleteconfirm__modalBtn {
  background-color: #5654a2;
  color: #fff;
}

.p-deleteconfirm__modalBtn:hover {
  opacity: 0.9;
}

@media screen and (max-width: 320px) {
  .p-deleteconfirm__modalBtn {
    width: 80px;
  }
}

@media screen and (max-width: 280px) {
  .p-deleteconfirm__modalBtn {
    width: 80px;
  }
}

.p-deleteconfirm__modalBtn--delete {
  background-color: #d7003a;
  color: #fff;
}

.p-deleteconfirm__modalBtn--delete:hover {
  opacity: 0.9;
}

@media screen and (max-width: 320px) {
  .p-deleteconfirm__modalBtn--delete {
    width: 80px;
  }
}

@media screen and (max-width: 280px) {
  .p-deleteconfirm__modalBtn--delete {
    width: 80px;
  }
}

.p-passEdit {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .p-passEdit {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  .p-passEdit {
    flex-direction: column-reverse;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 0;
  }
}

.p-passEdit__content {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 1280px) {
  .p-passEdit__content {
    padding: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .p-passEdit__content {
    width: 95%;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .p-passEdit__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 599px) {
  .p-passEdit__content {
    width: 100%;
    padding: 30px;
  }
}

@media screen and (max-width: 320px) {
  .p-passEdit__content {
    width: 90%;
    padding: 30px;
  }
}

@media screen and (max-width: 280px) {
  .p-passEdit__content {
    width: 100%;
    padding: 30px;
  }
}

.p-passEdit__title {
  font-size: 30px;
  text-align: center;
  color: #2F2725;
  margin-bottom: 40px;
}

@media screen and (max-width: 599px) {
  .p-passEdit__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .p-passEdit__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 280px) {
  .p-passEdit__title {
    font-size: 24px;
  }
}

.p-passEdit__form {
  margin-top: 20px;
}

.p-passEdit__part {
  margin-bottom: 40px;
}

.p-passEdit__label {
  font-size: 18px;
  color: #2F2725;
}

@media screen and (max-width: 599px) {
  .p-passEdit__label {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .p-passEdit__label {
    font-size: 14px;
  }
}

.p-passEdit__errMsg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media screen and (max-width: 599px) {
  .p-passEdit__errMsg {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .p-passEdit__errMsg {
    font-size: 10px;
  }
}

@media screen and (max-width: 280px) {
  .p-passEdit__errMsg {
    font-size: 10px;
  }
}

.p-passEdit__input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.p-passEdit__button {
  text-align: right;
}

.p-passEdit__btn {
  margin-top: 10px;
  color: #fff;
  background-color: #5654a2;
}

@media screen and (max-width: 599px) {
  .p-passEdit__btn {
    width: 80px;
    height: 30px;
  }
}

.p-passEdit__btn:hover {
  opacity: 0.9;
}

.p-passEdit__returnMsg {
  display: block;
  margin-top: 20px;
  text-align: right;
  color: #4052A2;
}

@media screen and (max-width: 280px) {
  .p-passEdit__returnMsg {
    font-size: 12px;
  }
}

.p-passEdit__returnMsg:hover {
  text-decoration: underline;
}

.p-ideaDetail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .p-ideaDetail {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .p-ideaDetail {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .p-ideaDetail {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 10px;
  }
}

.p-ideaDetail__Container {
  width: 100%;
}

@media screen and (max-width: 280px) {
  .p-ideaDetail__Container {
    width: 130%;
  }
}

.p-ideaDetail__title {
  text-align: center;
  font-size: 30px;
  color: #2F2725;
  margin-bottom: 10px;
}

@media screen and (max-width: 599px) {
  .p-ideaDetail__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .p-ideaDetail__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 280px) {
  .p-ideaDetail__title {
    width: 200px;
  }
}

@media screen and (max-width: 599px) {
  .p-ideaDetail__partContainer {
    flex-direction: column;
    align-items: center;
  }
}

.p-ideaDetail__content {
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .p-ideaDetail__content {
    width: 97%;
  }
}

@media screen and (max-width: 768px) {
  .p-ideaDetail__content {
    width: 95%;
  }
}

@media screen and (max-width: 599px) {
  .p-ideaDetail__content {
    width: 90%;
    align-items: center;
  }
}

.p-ideaDetail__content__pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.p-ideaDetail__part {
  margin-top: 30px;
  color: #2F2725;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (max-width: 599px) {
  .p-ideaDetail__part {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .p-ideaDetail__part {
    width: 90%;
  }
}

@media screen and (max-width: 280px) {
  .p-ideaDetail__part {
    width: 95%;
  }
}

.p-ideaDetail__item {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .p-ideaDetail__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .p-ideaDetail__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 599px) {
  .p-ideaDetail__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.p-ideaDetail__item--part {
  padding: 5px;
  margin-left: 0;
}

.p-ideaDetail__item--link {
  display: flex;
}

.p-ideaDetail__label {
  color: #51318F;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}

.p-ideaDetail__postUser {
  border: 2px solid #51318F;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.p-ideaDetail__postUserInfo {
  display: flex;
  align-items: center;
}

.p-ideaDetail__postUserInfo--name {
  font-size: 18px;
}

.p-ideaDetail__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.p-ideaDetail__share {
  background-color: #1DA1F2;
  width: 130px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.p-ideaDetail__share--link {
  color: #fff;
}

.p-ideaDetail__btn {
  display: block;
  background-color: #51318F;
  color: #fff;
  border: 2px solid #51318F;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 30px;
  margin-right: 20px;
}

.p-ideaDetail__btn:hover {
  background-color: #fff;
  color: #51318F;
}

@media screen and (max-width: 320px) {
  .p-ideaDetail__btn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 280px) {
  .p-ideaDetail__btn {
    width: 120px;
    font-size: 12px;
  }
}

